@font-face {
  font-family: MKX;
  src: url(fonts/mkx.ttf);
}
@font-face {
  font-family: harabara;
  src :url(fonts/Harabara.ttf);
}
@font-face {
  font-family: o24d;
  src :url(fonts/o24d.ttf);
}
@font-face {
  font-family: bebas;
  src :url(fonts/bebas.otf);
}
/*________________________________________________________________*/
/*________________________________________________________________*/

a:link {
  text-decoration: none;
}

div , div p  {
  transition: 0.65s;
  -webkit-transition: 0.65s;
}
p,h1,h2,h3,h4,h5,a{
  color: white;
}
/*________________________________________________________________*/
/*________________________________________________________________*/

.bg-color-black{
  background-color: black;
}
header {
  background-color: black;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  font-size: 275%;
  text-align: center;
  margin: -10px -10px 2% -10px;
}
header p{
  margin: 0;
  border: 0;
}

body {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}

footer{
  background-color: black;
  padding: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  font-family: bebas;
  z-index: 100;
  margin: 2% -10px -10px -10px;
}
footer p{
  margin: 0;
  border: 0;
  font-size: 150%;
}

/*________________________________________________________________*/
/*________________________________________________________________*/

.col-xs-12 {
  padding-right:0px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}
/*________________________________________________________________*/
/*________________________________________________________________*/

.divider {
  font-family: bebas;
  text-align: center;
}
.mainpanel {
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 7.5%;
  padding-bottom: 2.5%;
  border-radius: 20px;
}
.item-menu{
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: bebas;
  align-content: center;
  background-color: black;
}
.foto {
  background-image: url(img/a.jpg);
  padding: 75%;
  background-size: 100% 100%;
  border-radius: 100%;
  margin-bottom: 0.75%;
}
.legenda p{
  text-align: justify;
  font-size: 175%;
  font-family: bebas;
}

/*________________________________________________________________*//*________________________________________________________________*/
/*________________________________________________________________*//*________________________________________________________________*/

@media screen and (max-width: 960px ) {
  body {
    padding-top: 16%;
  }

  .carousel-inner > .item {
    min-height: 300px;
    max-height: 300px;
    align-items: center;
  }
  .mainpanel {
    margin-left: 5.8%;
    margin-right: -4%;
  }

  .item-menu{
    border: thick solid black;
  }

  .foto-offset{
    margin-left:15%;
  }

  .hide-overflow{
    padding: 4% 6% 4% 10%;
    border-left: none;
    border-right: none;
  }
}
@media screen and (min-width: 960px ) {
  .mainpanel {
    margin-left: 7.5%;
  }
  .foto-offset{
    margin-left:38%;
    margin-bottom: 3%;
  }
  .hide-overflow{
    padding: 1% 4% 1% 4%;
    border-left: none;
    border-right: none;
  }
  .foto:hover {
    transform: rotate(360deg);
    border-color: black;
    background-size: 85% 85%;
    background-repeat: no-repeat;
    background-position:center;
    background-image: url(img/fav_inv.png);
    border-radius: 0;
    overflow: visible;
  }
}
@media screen and (min-width: 1200px ) {
  .carousel-inner > .item {
    min-height: 500px;
  }
  .foto {
    padding: 50%;
  }
  .foto-offset{
    margin-left:41%;
  }
  .legenda p{
    font-size: 225%;
  }

}
