<link rel="stylesheet" href="css/profile.css" type="text/css">
<link rel="stylesheet" href="css/company.css" type="text/css">
<link rel="stylesheet" href="jasny-bootstrap/css/jasny-bootstrap.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<div class="navmenu navmenu-default navmenu-fixed-left">
  <!-- <a class="navmenu-brand" href="#">LOGO</a> -->
  <div class="photo-filter center-block">
      <div class="photo-profile center-block">

      </div>
  </div>
  <div class="text-center name-profile">
      <h5>Google Inc.</h5>
      <hr>
  </div>
  <ul class="nav navmenu-nav">
    <!-- <li><a href="#"><p><span><i class="fa fa-book" aria-hidden="true"></i></span>Meu feed</p></a></li> -->
    <li><a href="#"><p><span><i class="fa fa-suitcase" aria-hidden="true"></i></span>Home</p></a></a></li>
    <li><a href="#"><p><span><i class="fa fa-building-o" aria-hidden="true"></i></span>Interessados</p></a></a></li>
    <li><a href="#"><p><span><i class="fa fa-cog" aria-hidden="true"></i></span>Configurações</p></a></a></li>
    <li><a href="#"><p><span><i class="fa fa-sign-out" aria-hidden="true"></i></span>Sair</p></a></a></li>
  </ul>
</div>

<div class="canvas">
    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container">

        <div class="row initial-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <section id="profile" class="well">
                    <h1>Resumo</h1>
                    <div class="well">
                        <h2>Olá, nós somos <strong>Google Brasil</strong>.</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
                <h2 class="section-title">Oportunidades de emprego</h2>
                <div class="col-xs-12 well">
                    <modal-job></modal-job>
                    <job></job>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
                <h2 class="section-title">Áreas em que atuamos</h2>
                <div class="col-xs-12 well">
                    <operational-areas></operational-areas>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
                <h2 class="section-title">Prêmios</h2>
                <div class="col-xs-12 well">
                    <company-awards></company-awards>
                </div>
            </div>
        </div>

    </div>
