<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 well" ng-show="registerpgCtrl.isSet(1)">
  <form name="registerUserForm" ng-submit="submitUserForm(registerUserForm.$valid)" novalidate>

    <!-- nome -->
    <div class="form-group" ng-class="{ 'has-error' : registerUserForm.name.$invalid && !registerUserForm.name.$pristine, 'has-success' : registerUserForm.name.$valid }">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="user.name" required>
        <p ng-show="registerUserForm.name.$invalid && !registerUserForm.name.$pristine" class="help-block">Type your name</p>
    </div>

    <!-- e-mail -->
    <div class="form-group" ng-class="{ 'has-error' : registerUserForm.email.$invalid && !registerUserForm.email.$pristine, 'has-success' : registerUserForm.email.$valid }">
        <label>E-mail</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
        <p ng-show="registerUserForm.email.$invalid && !registerUserForm.email.$pristine" class="help-block">Type a valid e-mail</p>
    </div>

    <!-- senha -->
    <div class="form-group" ng-class="{ 'has-error' : registerUserForm.passwd.$invalid && !registerUserForm.passwd.$pristine, 'has-success' : registerUserForm.passwd.$valid }">
        <label>Password (3 characters minimum)</label>
        <input type="passwd" name="passwd" class="form-control" ng-model="user.passwd" ng-minlength="3" required>
        <p ng-show="registerUserForm.passwd.$error.minlength" class="help-block">This password is too short or doens't exist</p>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group btn-group-lg" role="group">
        <button ng-class="{ 'active' : registerpgCtrl.isSet(1) }" type="button" class="btn btn-default" ng-click="registerpgCtrl.setTab(1)">Person</button>
      </div>
      <div class="btn-group btn-group-lg" role="group">
        <button ng-class="{ 'active' : registerpgCtrl.isSet(2) }" type="button" class="btn btn-default" ng-click="registerpgCtrl.setTab(2)">Company</button>
      </div>
    </div>

    <!--submit button-->
    <button type="submit" class="btn btn-primary btn-submit" ng-disabled="registerUserForm.$invalid">Submit</button>
  </form>
</div>
