<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 well" ng-show="registerpgCtrl.isSet(1)">
  <form name="registerUserForm" ng-submit="submitUserForm(registerUserForm.$valid)" novalidate>

    <!-- nome -->
    <div class="form-group" ng-class="{ 'has-error' : registerUserForm.name.$invalid && !registerUserForm.name.$pristine, 'has-success' : registerUserForm.name.$valid }">
        <label>Nome da pessoa</label>
        <input type="text" name="name" class="form-control" ng-model="user.name" required>
        <p ng-show="registerUserForm.name.$invalid && !registerUserForm.name.$pristine" class="help-block">Digite seu nome.</p>
    </div>

    <!-- login -->
    <!-- <div class="form-group" ng-class="{ 'has-error' : registerUserForm.username.$invalid && !registerUserForm.username.$pristine, 'has-success' : registerUserForm.username.$valid }">
        <label>Login (3 a 8 caracteres)</label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8" required>
        <p ng-show="registerUserForm.username.$error.minlength" class="help-block">Login muito curto ou inexistente.</p>
        <p ng-show="registerUserForm.username.$error.maxlength" class="help-block">Login muito longo.</p>
    </div> -->

    <!-- e-mail -->
    <div class="form-group" ng-class="{ 'has-error' : registerUserForm.email.$invalid && !registerUserForm.email.$pristine, 'has-success' : registerUserForm.email.$valid }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>
        <p ng-show="registerUserForm.email.$invalid && !registerUserForm.email.$pristine" class="help-block">Entre com um e-mail válido.</p>
    </div>

    <!-- senha -->
    <div class="form-group" ng-class="{ 'has-error' : registerUserForm.password.$invalid && !registerUserForm.password.$pristine, 'has-success' : registerUserForm.password.$valid }">
        <label>Senha (mínimo 3 caracteres)</label>
        <input type="password" name="passwd" class="form-control" ng-model="user.passwd" ng-minlength="3" required>
        <p ng-show="registerUserForm.password.$error.minlength" class="help-block">Senha muito curta ou inexistente.</p>
    </div>

    <!-- confirmação senha -->
    <!-- <div class="form-group" ng-class="{ 'has-error' : (user.passwordconfirm != user.password && !registerUserForm.passwordconfirm.$pristine), 'has-success' : registerUserForm.passwordconfirm.$valid && user.passwordconfirm == user.password }">
        <label>Senha (mínimo 3 caracteres)</label>
        <input type="password" name="passwordconfirm" class="form-control" ng-model="user.passwordconfirm" required>
        <p ng-show="user.passwordconfirm != user.password && !registerUserForm.passwordconfirm.$pristine" class="help-block">Senhas não batem.</p>
    </div> -->

    <div class="">
      <pre>
        <pre>user = {{user | json}}</pre>
      </pre>
    </div>

    <!--submit button-->
    <button type="submit" class="btn btn-primary" ng-disabled="registerUserForm.$invalid">Submit</button>
  </form>
</div>
