<div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 well" ng-show="registerpgCtrl.isSet(2)">
  <form name="registerCompanyForm" ng-submit="submitCompanyForm(registerCompanyForm.$valid)" novalidate>

    <!-- nome -->
    <div class="form-group" ng-class="{ 'has-error' : registerCompanyForm.name.$invalid && !registerCompanyForm.name.$pristine, 'has-success' : registerCompanyForm.name.$valid }">
        <label>Company's name</label>
        <input type="text" name="name" class="form-control" ng-model="company.name" required>
        <p ng-show="registerCompanyForm.name.$invalid && !registerCompanyForm.name.$pristine" class="help-block">Type the company name</p>
    </div>

    <!-- e-mail -->
    <div class="form-group" ng-class="{ 'has-error' : registerCompanyForm.email.$invalid && !registerCompanyForm.email.$pristine, 'has-success' : registerCompanyForm.email.$valid }">
        <label>E-mail</label>
        <input type="email" name="email" class="form-control" ng-model="company.email" required>
        <p ng-show="registerCompanyForm.email.$invalid && !registerCompanyForm.email.$pristine" class="help-block">Type a valid e-mail</p>
    </div>

    <!-- senha -->
    <div class="form-group" ng-class="{ 'has-error' : registerCompanyForm.passwd.$invalid && !registerCompanyForm.passwd.$pristine, 'has-success' : registerCompanyForm.passwd.$valid }">
        <label>Password (3 characters minimum)</label>
        <input type="passwd" name="passwd" class="form-control" ng-model="company.passwd" ng-minlength="3" required>
        <p ng-show="registerCompanyForm.passwd.$error.minlength" class="help-block">This password is too short or doesn't exist</p>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group btn-group-lg" role="group">
        <button ng-class="{ 'active' : registerpgCtrl.isSet(1) }" type="button" class="btn btn-default" ng-click="registerpgCtrl.setTab(1)">Pessoa</button>
      </div>
      <div class="btn-group btn-group-lg" role="group">
        <button ng-class="{ 'active' : registerpgCtrl.isSet(2) }" type="button" class="btn btn-default" ng-click="registerpgCtrl.setTab(2)">Empresa</button>
      </div>
    </div>

    <!--submit button-->
    <button type="submit" class="btn btn-primary btn-submit" ng-disabled="registerCompanyForm.$invalid">Submit</button>
  </form>
</div>
