<link rel="stylesheet" href="css/loginpage.css" type="text/css">

<nav class="navbar nav navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="go('/')">JobFinder</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills navbar-nav navbar-right" role="tablist">
        <li role="presentation" class="navbar-notifications"><a ng-click="go('/auth/register')">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row center">
    <div class="col-xs-12 col-md-6 well">
      <form name="loginForm" ng-submit="submitLoginForm(loginForm.$valid)" novalidate>

        <!-- email -->
        <div class="form-group">
          <label>E-mail</label>
          <input type="text" name="email" class="form-control" ng-model="login.email" required>
        </div>

        <!-- senha -->
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="passwd" class="form-control" ng-model="login.passwd" required>
        </div>

        <!--submit button-->
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Submit</button>

      </form>
    </div>
  </div>
</div>
