<!--  profile text Form -->
<form name="profileTextForm" ng-submit="companyCtrl.addProfileText()">
  <h4>Submit a brief text about the company</h4>
  <fieldset class="form-group">
    <textarea ng-model="companyCtrl.profileText" class="form-control" placeholder="Write a brief text about the company" title="profileText" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit" ng-disabled="profileTextForm.$invalid"/>
  </fieldset>
</form>
