<div class="col-xs-12 well" ng-repeat="job in company.jobs track by $index">
    <h3 class="text-uppercase">{{job.name}}</h3>
    <p>
        {{job.text}}
    </p>
    <ul>
        <li><strong>Salário</strong>: {{job.salary}}</li>
        <li><strong>Local</strong>: {{job.location}}</li>
        <li><strong>Requisitos</strong>: {{job.requirements}}</li>
        <li><strong>Carga horária</strong>: {{job.workload}}</li>
    </ul>
    <div>
      <h4>Interessados</h4>
      <dl id="list-interest">
        <dt ng-repeat="interest in job.interested track by $index"><a ng-click="goUser(interest.id)">{{interest.name}}</a></dt>
      </dl>
    </div>
</div>
