<!--  operational areas Form -->
<form name="areaForm" ng-submit="companyCtrl.addArea()">
  <h4>Submit an area</h4>
  <fieldset class="form-group">
    <textarea ng-model="companyCtrl.area.name" class="form-control" placeholder="Write the area name" title="name" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="companyCtrl.area.text" class="form-control" placeholder="Write a brief description about the area" title="text" required></textarea>
  </fieldset>


  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit" ng-disabled="areaForm.$invalid"/>
  </fieldset>
</form>
