<div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
<div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>

<div class="row valing-wraper">
  <div class="col m10 l10 s12 offset-m1 offset-l1 white-text faded-panel-2x">
    <form class="white-text form-pad">
      <div class="row">
        <div class="input-field col s6">
          <h5>ID</h5>
          <input id="userId" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <h5>Nome da Empresa</h5>
          <input id="nomeEmpresa" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <h5 >Descrição da Empresa</h5>
          <textarea id="descricao" class="materialize-textarea"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s5">
          <h5 >Senha</h5>
          <input id="password" type="password" class="validate">
        </div>
        <div class="input-field col s5 offset-s2">
          <h5 >Confirmar senha</h5>
          <input id="password" type="password" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <h5 >Email de Contato</h5>
          <input id="email" type="email" class="validate">
        </div>
      </div>
    </form>
  </div>
