<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="ID" id="userId" type="text" class="validate">
          <label for="userId">ID</label>
        </div>
        <div class="input-field col s6">
          <input id="nomeEmpresa" type="text" class="validate">
          <label for="nomeEmpresa">Nome da Empresa</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="descricao" class="materialize-textarea"></textarea>
          <label for="descricao">Descrição da Empresa</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="passwd" class="validate">
          <label for="passwd">Senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email de Contato</label>
        </div>
      </div>
    </form>
  </div>
