<div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
<div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>

<div class="row valing-wraper">
  <div class="col m10 l10 s12 offset-m1 offset-l1 white-text faded-panel-2x">
    <form class="white-text form-pad">
      <div class="input-field col s12">
        <h5 class="light">Nome</h5>
        <input  id="name" type="text" class="validate">
      </div>
      <div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>
      <div class="input-field col s12">
        <h5 class="light">ID Usuário</h5>
        <input  id="usrname" type="text" class="validate">
      </div>
      <div class="row"><div class="col m6 offset-m3 "><h6></h6></div></div>
      <div class="input-field col s12">
        <h5 class="light">Email</h5>
        <input  id="email" type="text" class="validate">
      </div>
      <div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>
      <div class="input-field col s5">
        <h5 class="light">Senha</h5>
        <input id="psswd" type="password" class="validate">
      </div>
      <div class="input-field col s5 offset-s2">
        <h5 class="light">Confirmar Senha</h5>
        <input id="psswd-confirm" type="password" class="validate">
      </div>
      <div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>
      <div class="col s3 offset-s8 l2 offset-l10">
        <button class="btn faded-panel"> Cadastrar</button>
      </div>
      <div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>
    </div>
  </div>
</form>
