<body ng-app="brworkApp">
  <div class="navbar-fixed">
    <nav class="fading-25">
      <div class="nav-wrapper row">
        <a href="#/" class="brand-logo col hide-on-med-and-down offset-s1">Trabalha Brasil <i class="fa fa-briefcase" aria-hidden="true"></i></a>
        <a href="#/" class="brand-logo col hide-on-large-only center ">Trabalha Brasil <i class="fa fa-briefcase" aria-hidden="true"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#/lg">listagem-geral</a></li>
          <li><a href="#/cv">adicionar-vaga</a></li>
          <li><a href="#/ov">view-vaga</a></li>
          <li><a href="#/ou">view-usr</a></li>
          <li><a href="#/oe">view-emprs</a></li>
          <li><a href="#/cu">Cdstr-usrs</a></li>
          <li><a href="#/ce">Cdstr-emprs</a></li>
          <li><a href="#/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
