<div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
<div class="row  valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
<div class="row hide-on-small-only valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>

<div class="row valing-wraper">
  <div class="col m10 offset-m1 s12 l6 offset-l3  white-text center faded-panel">
    <div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
    <h2 class="bolada">"Não pense em crise! Trabalhe"</h2>
    <h5 class ="leve">E ache seu emprego aqui</h5>
    <div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
    <div class="row hide-on-small-only">
      <div class="col m4 offset-m1 offset-m1 l3 offset-l2">
        <button class="btn btn-large faded-panel"> Para <br class="hide-on-large-only"> empresas </button>
      </div>
      <div class="col m4 offset-m2  l3 offset-l2">
        <button class="btn btn-large faded-panel"> Para empregados </button>
      </div>
    </div>
    <div class="row hide-on-med-and-up">
      <div class="col s10 offset-s1">
        <button class="btn btn-large faded-panel"> Saiba mais </button>
      </div>
    </div>
    <div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
  </div>
</div>
