<div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
<div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>

<div class="row valing-wraper">
  <div class="col m6 offset-m3 white-text faded-panel">
    <form class="white-text">
      <div class="input-field col s12">
        <h5 class="light">Usuário</h5 class="light">
          <input  id="usrname" type="text" class="validate">
        </div>
        <div class="row"><div class="col m6 offset-m3 "><h6></h6></div></div>
        <div class="input-field col s12">
          <h5 class="light">Senha</h5 class="light">
            <input id="psswd" type="password" class="validate">
          </div>
          <div class="col s6 offset-s8">
            <a href="" class="white-text light">Esqueceu sua senha?</a>
          </div>
          <div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>

          <div class="col s3 offset-s8">
            <button class="btn faded-panel"> Entrar</button>

          </div>
          <div class="row"><div class="col m6 offset-m3 "><h1></h1></div></div>

        </div>
      </div>
    </form>
  </div>
</div>
