
<div ng-controller="menuController as menucontrol" class="navbar-fixed">
  <nav class="fading-25">
    <div class="nav-wrapper row">
      <a href="#/" class="brand-logo col hide-on-med-and-down offset-s1">Trabalha Brasil <i class="fa fa-briefcase" aria-hidden="true"></i></a>
      <a href="#/" class="brand-logo col hide-on-large-only center ">Trabalha Brasil <i class="fa fa-briefcase" aria-hidden="true"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li ng-repeat="link in menucontrol.links" ><a href="#/{{link.link}}">{{link.name}}</a> </li>


      </ul>
    </div>
  </nav>
</div>
