<br>
<div class="row">
  <div class="col s10 offset-s1 faded-panel white-text">
    <br>
    <div class="col s3">
      <div class="row">
        <div class="col s12">
          <img style="border-radius:25px" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/018/062/2fa4810.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="white-text" href="">Baixar curriculo <i class="fa fa-paperclip" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
    <div class="col s9">
      <h4 class="bolada">João eduardo Montandon </h4>
      <p>Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio ambiente é sem dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma ameaça pro futuro do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses.
        A população ela precisa da Zona Franca de Manaus, porque na Zona franca de Manaus, não é uma zona de exportação, é uma zona para o Brasil. Portanto ela tem um objetivo, ela evita o desmatamento, que é altamente lucravito. Derrubar arvores da natureza é muito lucrativo!
      </p>
    </div>
    <div class="row valing wraper"><div class="col m6 offset-m3 white-text "><h1></h1></div>  </div>
  </div>
</div>
